.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#tit1 {
  text-align: center;
  font-size: 30px;
}

#namCat {
  text-align: center;
  font-size: 20px;
}

#tabb {
  margin-left: 100px;
  text-align: center;
  vertical-align: center;
  width: 90%;
}

#tab11 {
  margin: auto;
  display: block;
  text-align: center;
}

#dataT {
  color: rgb(62, 62, 62);
  text-align: center;
  border: 1px solid black;
  background-color: rgb(227, 226, 226);
  border-spacing: 1px;
}

#dataT tr {
  border: 1px solid black;
}

#dataT img {
  height: 150px;
  margin-left: 10px;
  margin-right: 5px;
  margin-block: 5px;
  border: 5px outset white;
}

td.modelo {
  font-size: 15px;
}

td.unida {
  font-size: 15px;
}

b.blac {
  font-size: 20px;
  vertical-align: top;
}

#imglog {
  height: 200px;
  display: block;
  margin: auto;
}

#nombreUs {

  display: block;
  margin: auto;
}

#contraUs {
  display: block;
  margin: auto;
}

label.lb1 {
  text-align: center;
  display: block;
  margin: auto;
}

#login1 {
  padding: 0.5%;
  border: 0px;
  border-radius: 3px;
  background-color: rgb(21, 98, 252);
  display: block;
  margin: auto;
  color: white;
}

#error1 {
  text-align: center;
  display: block;
  margin: auto;
  color: red;
}

#error2 {
  text-align: center;
  display: block;
  margin: auto;
  color: red;
}

#MostUser {
  display: block;
  margin-top: 10px;
  color: white;
}

#formii {
  margin-left: 880px;
  margin-bottom: 9px;
  display: block;

}

#filtromin {
  height: 25px;
  width: 80px;

}

#filtromax {
  margin-left: 10px;
  height: 25px;
  width: 80px;
}

#sp1 {
  margin-right: 9px;
}

#filtro1 {
  height: 27.5px;
  width: 80px;
  background-color: #e3e4e5;
  text-align: center;
  border-radius: 3px;
  margin-left: 5px;
}

#ordenador {
  display: block;
  margin-left: 1100px;
}

#limpiar {
  border: none;
  background-color: white;
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
}

#search {
  display: block;
  margin-left: 770px;
  margin-bottom: 30px;
  width: 500px;
  text-align: center;
  border-radius: 5px;
  border-color: gainsboro;
}

.redirije {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;

}

.infoTit {
  font-size: xx-large;
  color: #4b4c4c;
  display: block;
  margin-top: -350px;
  margin-bottom: 30px;
  text-align: center;
}

.infoSubtit {
  font-weight: bold;
}

.tablaInfo {
  margin-left: 10px;
}
#tablaCom {
  margin-left: 10px;
}
#comentario tr td {
  border: 1px black solid;
  margin-left: 20px;
 
}


#datoPro img {
  height: 300px;
  width: 300px;
  margin:5px;
}

#datoPro tr td {
  border: 2px black solid;
 
}

b.nmUS {
  color: #0087F7;
}
.ita{
  font-style: italic;
}

.checked {
  color: orange;
}
.unchecked {
  color:gray;
}

#button1{
  margin-top: 10px;
  padding: 0.5%;
  border: 0px;
  border-radius: 3px;
  background-color: rgb(21, 98, 252);
  color: white;
}
.correg{
  margin-left: 10px;
}